<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Villa Wabsite - Home</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="container">
      <div class="sub-header">
        <div class="detail">
          <div style="display: flex">
            <div class="detail-one">
              <i class="fa-solid fa-envelope"></i>
              <p class="header-para">info@company.com</p>
            </div>
            <div class="detail-two">
              <i class="fa-solid fa-location-dot"></i>
              <p class="header-para">Sunny Isles Beach, FL 33160</p>
            </div>
          </div>
          <div class="socials">
            <ul class="list">
              <li class="list-item"><i class="fa-brands fa-facebook"></i></li>
              <li class="list-item">
                <i class="fa-brands fa-x-twitter"></i>
              </li>
              <li class="list-item"><i class="fa-brands fa-linkedin"></i></li>
              <li class="list-item"><i class="fa-brands fa-instagram"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="stick-head">
      <div class="second-header">
        <div class="sec-bundle">
          <h2 class="logo">VILLA</h2>
          <div class="nav-bar">
            <ul class="nav-list">
              <li class="nav-item"><a href="#" class="color-link">home</a></li>
              <li class="nav-item"><a href="#">property</a></li>
              <li class="nav-item"><a href="#">property details</a></li>
              <li class="nav-item"><a href="#">contact us</a></li>
            </ul>
            <div class="cal-btn">
              <span><i class="fa-solid fa-calendar-days"></i></span>Schedule a
              visit
            </div>
            <i class="fa-solid fa-bars ham-menu"></i>
          </div>
        </div>
      </div>
    </div>
    <section class="banner">
      <div class="slider-content">
        <span class="angle-left"><i class="fa-solid fa-angle-left"></i></span>
      </div>
      <div class="slider-content">
        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span>
      </div>
      <div class="content">
        <span><span>Miami,</span> South Florida</span>
        <h1>ACT NOW! GET THE HIGHEST LEVEL PANTHOUSE</h1>
      </div>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="details">
      <div class="featured">
        <img
          src="../assets/featured.jpg"
          class="featured-img"
          alt="apartment room"
        />
        <span><i class="fa-solid fa-house"></i></span>
      </div>
      <div class="faq">
        <span>| FEATURED</span>
        <h1>Best Appartment & Sea View</h1>
        <ul class="faq-list">
          <li class="faq-item color-link">
            Best useful links?
            <p class="answer">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum
              sit blanditiis exercitationem, eligendi magnam ex ad dolor
              tempore. Dolores, quos accusantium. Totam eaque necessitatibus
              quam?
            </p>
          </li>
          <li class="faq-item">
            How does this work?
            <p class="answer ans-hide">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum
              sit blanditiis exercitationem, eligendi magnam ex ad dolor
              tempore. Dolores, quos accusantium. Totam eaque necessitatibus
              quam?
            </p>
          </li>
          <li class="faq-item">
            Why is Villa Agency the best ?
            <p class="answer ans-hide">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum
              sit blanditiis exercitationem, eligendi magnam ex ad dolor
              tempore. Dolores, quos accusantium. Totam eaque necessitatibus
              quam?
            </p>
          </li>
        </ul>
      </div>
      <aside class="room-info">
        <ul>
          <li>
            <i class="fa-solid fa-house-lock"></i>
            <div>
              <h3>250 m2</h3>
              <p>Total Flat Space</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-house-chimney-crack"></i>
            <div>
              <h3>Contract</h3>
              <p>Contract Ready</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-house-circle-xmark"></i>
            <div>
              <h3>Payment</h3>
              <p>Payment Process</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-house-chimney-user"></i>
            <div>
              <h3>Safety</h3>
              <p>24/7 Under Control</p>
            </div>
          </li>
        </ul>
      </aside>
    </section>
    <section class="video">
      <div class="video-detail">
        <span>| Video View</span>
        <div>
          <h1>Get Closer View & Different Feeling</h1>
        </div>
      </div>
      <div class="videoimage-container">
        <img src="../assets/video-frame.jpg" class="video-img" />
        <span
          ><button class="vdo-btn"><i class="fa-solid fa-play"></i></button
        ></span>
      </div>
    </section>
    <div class="card-grp">
      <div class="card-one">
        <h1>34</h1>
        <p>Buildings Finished now</p>
      </div>
      <div class="card-one">
        <h1>12</h1>
        <p>Years Experience</p>
      </div>
      <div class="card-one">
        <h1>24</h1>
        <p>Awards Won</p>
      </div>
    </div>
    <section class="deals">
      <div class="deal-content">
        <div class="deal-text">
          <p class="deal-para">| BEST DEAL</p>
          <h1 class="deal-head">Find Your Best Deal Right Now!</h1>
        </div>
        <div class="deal-btns">
          <button class="btn-primary">Appartment</button>
          <button class="btn-secondary">Villa House</button>
          <button class="btn-secondary">Penthouse</button>
        </div>
      </div>
      <div class="deal-block">
        <div class="deal-list-block">
          <ul class="deal-list">
            <li>
              <p>Total Flat Sapce</p>
              <h2>185 m2</h2>
            </li>
            <li>
              <p>Floor number</p>
              <h2>26th</h2>
            </li>
            <li>
              <p>Number of Rooms</p>
              <h2>4</h2>
            </li>
            <li>
              <p>Parking Available</p>
              <h2>Yes</h2>
            </li>
            <li>
              <p>Payment Process</p>
              <h2>Bank</h2>
            </li>
          </ul>
        </div>
        <div class="deal-image-block">
          <img
            src="../assets/deal-01.jpg"
            class="deal-image"
            alt="room image"
          />
        </div>
        <div class="deal-content-block">
          <h4>Extra info about property</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            obcaecati rerum, architecto ipsam repellat quaerat atque, quo
            adipisci explicabo ab, nisi eaque sequi inventore cum.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            obcaecati rerum, architecto ipsam repellat quaerat atque, quo
            adipisci explicabo ab, nisi eaque sequi inventore cum.
          </p>
          <div class="cal-block">
            <span><i class="fa-solid fa-calendar-days"></i></span
            ><a href="#">schedule a visit</a>
          </div>
        </div>
      </div>
    </section>
    <section class="plan-block">
      <div class="plan-head">
        <div>
          <p>| PROPERTIES</p>
          <h1>We Provide The Best Property You Like</h1>
        </div>
      </div>
      <div class="plan">
        <div class="plan-card">
          <img
            src="../assets/property-01.jpg"
            class="property-img"
            alt="property image"
          />
          <div class="villa-detail">
            <span class="villa-type">Luxury Villa</span>
            <h3 class="v-amount">$2.264.000</h3>
          </div>
          <div class="villa-core">
            <h3>18 New Street Miami, OR 97219</h3>
            <ul class="room-count">
              <li>
                Bedrooms:
                <span> 8</span>
              </li>
              <li>
                Bathrooms:
                <span> 8</span>
              </li>
              <li>
                Area:
                <span> 542m2</span>
              </li>
              <li>
                Floor:
                <span> 3</span>
              </li>
              <li>
                Parking:
                <span> 6 Slots</span>
              </li>
            </ul>
          </div>
          <div class="btn-wrapper">
            <button>Schedule a visit</button>
          </div>
        </div>
        <div class="plan-card">
          <img
            src="../assets/property-01.jpg"
            class="property-img"
            alt="property image"
          />
          <div class="villa-detail">
            <span class="villa-type">Luxury Villa</span>
            <h3 class="v-amount">$2.264.000</h3>
          </div>
          <div class="villa-core">
            <h3>18 New Street Miami, OR 97219</h3>
            <ul class="room-count">
              <li>
                Bedrooms:
                <span> 8</span>
              </li>
              <li>
                Bathrooms:
                <span> 8</span>
              </li>
              <li>
                Area:
                <span> 542m2</span>
              </li>
              <li>
                Floor:
                <span> 3</span>
              </li>
              <li>
                Parking:
                <span> 6 Slots</span>
              </li>
            </ul>
          </div>
          <div class="btn-wrapper">
            <button>Schedule a visit</button>
          </div>
        </div>
        <div class="plan-card">
          <img
            src="../assets/property-01.jpg"
            class="property-img"
            alt="property image"
          />
          <div class="villa-detail">
            <span class="villa-type">Luxury Villa</span>
            <h3 class="v-amount">$2.264.000</h3>
          </div>
          <div class="villa-core">
            <h3>18 New Street Miami, OR 97219</h3>
            <ul class="room-count">
              <li>
                Bedrooms:
                <span> 8</span>
              </li>
              <li>
                Bathrooms:
                <span> 8</span>
              </li>
              <li>
                Area:
                <span> 542m2</span>
              </li>
              <li>
                Floor:
                <span> 3</span>
              </li>
              <li>
                Parking:
                <span> 6 Slots</span>
              </li>
            </ul>
          </div>
          <div class="btn-wrapper">
            <button>Schedule a visit</button>
          </div>
        </div>
        <div class="plan-card">
          <img
            src="../assets/property-01.jpg"
            class="property-img"
            alt="property image"
          />
          <div class="villa-detail">
            <span class="villa-type">Luxury Villa</span>
            <h3 class="v-amount">$2.264.000</h3>
          </div>
          <div class="villa-core">
            <h3>18 New Street Miami, OR 97219</h3>
            <ul class="room-count">
              <li>
                Bedrooms:
                <span> 8</span>
              </li>
              <li>
                Bathrooms:
                <span> 8</span>
              </li>
              <li>
                Area:
                <span> 542m2</span>
              </li>
              <li>
                Floor:
                <span> 3</span>
              </li>
              <li>
                Parking:
                <span> 6 Slots</span>
              </li>
            </ul>
          </div>
          <div class="btn-wrapper">
            <button>Schedule a visit</button>
          </div>
        </div>
        <div class="plan-card">
          <img
            src="../assets/property-01.jpg"
            class="property-img"
            alt="property image"
          />
          <div class="villa-detail">
            <span class="villa-type">Luxury Villa</span>
            <h3 class="v-amount">$2.264.000</h3>
          </div>
          <div class="villa-core">
            <h3>18 New Street Miami, OR 97219</h3>
            <ul class="room-count">
              <li>
                Bedrooms:
                <span> 8</span>
              </li>
              <li>
                Bathrooms:
                <span> 8</span>
              </li>
              <li>
                Area:
                <span> 542m2</span>
              </li>
              <li>
                Floor:
                <span> 3</span>
              </li>
              <li>
                Parking:
                <span> 6 Slots</span>
              </li>
            </ul>
          </div>
          <div class="btn-wrapper">
            <button>Schedule a visit</button>
          </div>
        </div>
        <div class="plan-card">
          <img
            src="../assets/property-01.jpg"
            class="property-img"
            alt="property image"
          />
          <div class="villa-detail">
            <span class="villa-type">Luxury Villa</span>
            <h3 class="v-amount">$2.264.000</h3>
          </div>
          <div class="villa-core">
            <h3>18 New Street Miami, OR 97219</h3>
            <ul class="room-count">
              <li>
                Bedrooms:
                <span> 8</span>
              </li>
              <li>
                Bathrooms:
                <span> 8</span>
              </li>
              <li>
                Area:
                <span> 542m2</span>
              </li>
              <li>
                Floor:
                <span> 3</span>
              </li>
              <li>
                Parking:
                <span> 6 Slots</span>
              </li>
            </ul>
          </div>
          <div class="btn-wrapper">
            <button>Schedule a visit</button>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="login">
      <button class="log-btn">Log In</button>
    </div> -->
    <footer>
      <div>
        <p>Copyright © 2048 Villa Agency Co., Ltd. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
